/* HOME, CONTACT, AND RESUME PAGES*/

/* START OF HOME PAGE */

h2 {
    font-size: 2rem;
}

.home-header,
.home-sub-header {
    text-align: center;
    position: relative;
    top: 6rem;
    left: 40rem;
    width: 50%;
}

.home-header {
    font-size: 4rem;
}

#home-page img {
    position: relative;
    left: 10rem;
}

#about-me {
    text-align: center;
    position: relative;
    bottom: 10rem;
    left: 45rem;
    background: #3866b6;
    width: 40%;
    border-radius: 25px;
}

#about-me p {
    width: 80%;
    padding-bottom: 1rem;
}

.welcome-header {
    padding-top: 0.5rem;
    text-decoration: wavy #f5d249 underline;
    letter-spacing: 2px;
}

/* END OF HOME PAGE */

/* START OF CONTACT PAGE */



/* END OF CONTACT PAGE */

/* START OF RESUME PAGE */

/* END OF RESUME PAGE */