/* HOME, CONTACT, AND RESUME PAGES*/

/* START OF HOME PAGE */

#home-content img {
    display: block;
    position: absolute;
    left: 20rem;
    top: 8rem;
}

.home-header,
.home-sub-header {
    text-align: center;
    position: relative;
    top: 6rem;
    left: 40rem;
    width: 50%;
    color: #f5a749;
}

.home-header {
    font-size: 5rem;
    font-variant: small-caps;
    letter-spacing: 2px;
}

#about-me {
    text-align: center;
    position: relative;
    left: 45rem;
    top: 10rem;
    width: 40%;
    outline: 3px #f5a749 solid;
    border-radius: 10px;
}

#about-me:hover {
    outline: 3px #4799d4 solid;
}

#about-me:hover .welcome-header {
    border-bottom: 2px #4799d4 solid;
}

#about-me p {
    width: 80%;
    padding-bottom: 1rem;
}

.welcome-header {
    padding-top: 0.5rem;
    border-bottom: 2px #f5a749 solid;
    letter-spacing: 2px;
    font-size: 2rem;
    width: 50%;
    margin: auto;
}

/* END OF HOME PAGE */

/* START OF CONTACT PAGE */

#contact-container {
    min-height: 81.7vh;
}

#contact-content {
    width: 34%;
    margin-top: 5rem;
}

#contact-content > p {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: #f5a749;
    padding: 0.7rem;
}

.contact-header {
    font-size: 2.5rem;
    border-radius: 10px 10px 0 0;
    outline: 3px #f5a749 solid;
}

.contact-header,
.contact-address {
    text-align: center;
}

.contact-address {
    border-radius: 0 0 10px 10px;
    outline: 3px #f5a749 solid;
    padding: 1rem 4rem;
    font-size: 1.2rem;
    height: 240px;
}

.contact-address:hover {
    color: #f5a749;
    box-shadow: 0 0 1.5rem .5rem #f5a749;
}

.contact-address:active {
    box-shadow: 0 0 1.5rem .5rem #4799d4;
    border-radius: 0 0 10px 10px;
    outline: 3px #4799d4 solid;
}

.contact-address a:active,
.email-address a[href^='mailto']:active {
    color: #4799d4;
    text-decoration: 2px #fff underline;
}

.contact-address div {
    margin: 1.5rem auto;
    text-align: left;
    letter-spacing: 1px;
}

.contact-address div a,
.phone-number p span {
    margin: auto 1rem;
    position: relative;
    left: 0;
}

.contact-address div p {
    display: inline;
}

.contact-address p strong {
    color: #f5a749;
}

/* END OF CONTACT PAGE */

/* START OF RESUME PAGE */

#resume {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: auto;
    border: 5px solid #f5a749;
    border-radius:5px;
    padding: 2rem;
    width: 80%;
    margin: 2rem auto;
    font-weight: 300;
}

.resume-objective {
    grid-row: 1 / 3;
}

.resume-left-container {
    grid-column: 1 / 2;
    width: 80%;
    margin: auto;
}

.resume-right-container {
    grid-column: 2 / 3;
    width: 80%;
    margin: 2rem auto;
    padding: 0 2rem;
}

.resume-right-container p > strong {
    font-size: 1.2rem;
    text-decoration: #fff underline;
}

.resume-name {
    grid-row: 1 / 2;
    font-size: 3rem;
    font-weight: 400;
    color: #f5a749;
    text-align: center;
}

.contact-info {
    grid-row: 2 / 3 ;
    padding: 0 1rem 1rem;
}

.contact-info span,
.resume-education span,
.resume-skills span {
    display: block;
    letter-spacing: 0.5px;
    margin: 1rem 0;
}

.resume-headers {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: #fff underline;
    text-align: center;
    outline: 2px #f5a749 solid;
    color: #fff;
}

.resume-education {
    grid-row: 3 / 4;
}

.resume-skills {
    grid-row: 4 / 5;
}

.resume-experience {
    grid-row: 5 / 6;
}

.resume-experience p {
    margin: 1rem 0;
}

.resume-projects {
    grid-row: 3 / 6;
}

.resume-reference {
    grid-row: 6 / 7;
    text-align: center;
}

.resume-reference p {
    margin: 1rem;
    font-style: oblique;
}

.projects-header {
    text-align: center;
    font-size: 2rem;
    text-decoration: #fff underline;
    color: #f5a749;
    border-radius: 10px;
    margin: 0 auto 2rem;
    width: 60%;
}

.animation-header,
.photoshop-header,
.reference-header {
    width: 60%;
    margin: 0 auto;
}

/* END OF RESUME PAGE *?