/* HOME, CONTACT, AND RESUME PAGES*/

/* START OF HOME PAGE */

#home-content img {
    display: block;
    position: relative;
    left: 10rem;
}

.home-header,
.home-sub-header {
    text-align: center;
    position: relative;
    top: 6rem;
    left: 40rem;
    width: 50%;
}

.home-header {
    font-size: 4rem;
}

#about-me {
    text-align: center;
    position: relative;
    bottom: 10rem;
    left: 45rem;
    background: #3866b6;
    width: 40%;
    border-radius: 25px;
}

#about-me p {
    width: 80%;
    padding-bottom: 1rem;
}

.welcome-header {
    padding-top: 0.5rem;
    text-decoration: wavy #f5d249 underline;
    letter-spacing: 2px;
    font-size: 2rem;
}

/* END OF HOME PAGE */

/* START OF CONTACT PAGE */

#contact-container {
    min-height: 81.7vh;
}

#contact-content {
    width: 34%;
    margin-top: 5rem;
}

#contact-content > p {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    background: #fff;
    color: #3866b6;
    padding: 0.7rem;
}

.contact-header {
    text-decoration: wavy #f5d249 underline;
    font-size: 2.5rem;
    background: #3866b6;
    border-radius: 25px 25px 0 0;
}

.contact-header,
.contact-address {
    text-align: center;
}

.contact-address {
    background: #3866b6;
    border-radius: 0 0 25px 25px;
    padding: 1rem 4rem;
    font-size: 1.2rem;
    height: 240px;
}

.contact-address div {
    margin: 1.5rem auto;
    text-align: left;
    letter-spacing: 1px;
}

.contact-address div a,
.phone-number p span {
    margin: auto 1rem;
    position: relative;
    left: 0;
}

.contact-address div a:hover {
    text-decoration: #f5d249 underline;
}

.contact-address div a:active {
    text-decoration: #f5a749 underline;
}

.contact-address div p {
    display: inline;
}

/* END OF CONTACT PAGE */

/* START OF RESUME PAGE */

/* END OF RESUME PAGE *?