/* START OF TOP PORTION DEFINITIONS PAGEs */

#type-overview,
#ct-overview {
    display: grid;
    grid-template-columns: repeat(2, 30%) repeat(2, 20%);
    grid-template-rows: auto;
    font-family: galix-mono, sans-serif;
    font-weight: 400;
}

 .type-header,
 .ct-header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1px;
    color: #f5a749;
    margin: 1rem auto 3rem;
    padding-right: 8rem;
 }

 .type-subnav,
 .ct-subnav {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    list-style: none;
    width: 50%;
    padding: 1rem 0;
 }

  .type-subnav ul,
  .ct-subnav ul {
    list-style: none;
    padding: 0;
 }

 .type-subnav li,
 .ct-subnav li {
    margin: 0.5rem auto;
 }

 .type-subnav li a:hover,
 .ct-subnav li a:hover {
    color: #f5a749;
    font-size: 1.2rem;
 }

 .type-subnav li a:active,
 .ct-subnav li a:active {
    color: #4799d4;
    text-decoration: 2px #4799d4 underline;
 }

 .type-subnav:hover,
 .ct-subnav:hover {
    box-shadow: 0 0 .5rem .25rem #f5a749;
 }

.type-subnav:active,
.ct-subnav:active {
    outline: 2px #4799d4 solid;
    border-radius: 10px;
    box-shadow: 0 0 .75rem .25rem #4799d4;
}

.type-subnav:active h3,
.ct-subnav:active h3 {
    border-bottom: 3px #4799d4 solid;
}

 .type-subnav,
 .ct-subnav,
 .overview-desc {
    text-align: center;
    outline: 2px #f5a749 solid;
    border-radius: 10px;
    margin: 0 auto;
 }

.overview-desc {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 80%; 
    padding: 1rem 2rem 2rem;
 }

 .overview-desc:hover {
    outline: 2px #f5a749 solid;
    border-radius: 10px;
    box-shadow: 0 0 .75rem .25rem #f5a749;
 }

 .overview-desc p {
    text-align: left;
    margin-top: 1rem;
 }

 .articles-header,
 .overview-header {
    border-bottom: 3px #f5a749 solid;
    margin: auto;
    font-size: 1.8rem;
    font-variant: small-caps;
    letter-spacing: 1.5px;
}

.articles-header {
    width: 50%;
}

.overview-header {
    width: 25%;
}

/* END OF TOP PORTION OF DEFINITIONS PAGE */

/* START OF BOTTOM PORTION DEFINITIONS PAGE */

#type-terms,
#ct-terms {
    margin: 3rem auto;
}

.terms-list {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-auto-rows: auto;
    padding: 1rem;
    row-gap: 1rem;
    outline: 2px #f5a749 solid;
}

.terms-list dt {
    font-family: galix-mono, sans-serif;
    font-weight: 600;
    text-align: center;
    border: 2px #f5a749 solid;
    font-size: 1.1rem;
    padding: 2rem;
}

.terms-list dd {
    padding: 1rem;
    font-family: galix-mono, sans-serif;
    border: 2px #f5a749 solid;
}

.terms-list dt:hover,
.terms-list dd:hover {
    color: #4799d4;
    box-shadow: 0 0 1.5rem .5rem #4799d4;
}

/* END OF BOTTOM PORTION OF DEFINITIONS PAGE */

/* END OF DEFINITIONS PAGE*/

/* START OF WEBSITE COMPARISON ARTICLES */

#type-article,
#ct-article {
    margin: 3rem auto;
    padding: 2rem;
    outline: 2px #f5a749 solid;
    border-radius: 5px;
}

.type-article-head,
.ct-article-head {
    padding: 2rem 3rem;
}

.type-article-head p,
.ct-article-head p {
    padding: 1rem;
    margin: 3rem 0;
    background: #272b30;
    outline: 2px #f5a749 solid;
}

.type-article-head p:hover,
.ct-article-head p:hover {
    outline: 2px #4799d4 solid;
    box-shadow: 0 0 1.5rem .5rem #4799d4;
}

.top-header {
    font-size: 2.5rem;
    color: #f5a749;
    border-bottom: 2px #fff solid;
}

.type-article-body,
.ct-article-body {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-items: stretch;
    padding: 0 3rem;
}

.article-example > p {
    margin: 2rem auto;
}

.example-photo {
    width: 100%;
}

.type-example-one:target,
.type-example-two:target,
.ct-example-one:target,
.ct-example-two:target {
    flex: 4;
}

.type-example-one,
.type-example-two,
.ct-example-one,
.ct-example-two {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    background: #272b30;
    outline: 3px #f5a749 solid;
    padding: 3rem;
    gap: 1rem;
    justify-content: space-around;
    align-content: space-between;
    width: 50%;
}

.type-example-one:hover,
.type-example-two:hover,
.ct-example-one:hover,
.ct-example-two:hover {
    box-shadow: 0 0 1.5rem .5rem #f5a749;
}

.wiki-header,
.github-header,
.software-header,
.runescape-header {
    border-bottom: 2px #fff solid;
}

.wiki-header a,
.github-header a,
.software-header a,
.runescape-header a {
    text-decoration: #f5a749 underline;
    font-size: 1.8rem;
    color: #f5a749;
}

.wiki-header a:active,
.github-header a:active,
.software-header a:active,
.runescape-header a:active {
    color: #4799d4;
    text-decoration: #4799d4 underline; 
}

.wiki-text,
.github-text,
.software-text,
.runescape-text {
    outline: 2px #f5a749 solid;
    padding: 1rem;
}

.expand-button {
    background: #272b30;
    font-size: 1.3rem;
    margin: auto;
}

.expand-button:hover a {
    color: #f5a749;
    text-decoration: #f5a749 underline;
}

.expand-button a:active {
    color: #4799d4;
    text-decoration: #4799d4 underline;
}

.type-article-foot,
.ct-article-foot {
    padding: 3rem 3rem 0;
}

.conclusion-header {
    font-size: 1.8rem;
    color: #f5a749;
    border-bottom: 2px #fff solid;
}

.conclusion-text {
    background: #272b30;
    outline: 2px #f5a749 solid;
    padding: 1rem;
    margin: 3rem 0;
}

.conclusion-text:hover {
    outline: 2px #4799d4 solid;
    box-shadow: 0 0 1.5rem .5rem #4799d4;
}


/* END OF WEBSITE COMPARISON ARTICLES */

/* START OF FONT TYPES ARTICLE PAGE */

/* START OF TOP PORTION OF FONT TYPES ARTICLE PAGE */

#font-type-article {
    margin: 3rem auto;
    outline: 3px #f5a749 solid;
    border-radius: 5px;
}

.font-article-head {
    display: flex;
    flex-flow: column wrap;
    padding: 2rem 3rem 2rem;
    border-bottom: 2px #fff solid;
}

.font-article-head span {
    margin: 1rem 0;
    flex: 1;
}

.font-article-header {
    color: #f5a749;
    font-size: 1.8rem;
    flex: 2;
    border-bottom: 3px #fff solid;
}

.font-article-list {
    flex: 3;
    border-radius: 5px;
    width: 80%;
}

.font-article-list dt {
    font-weight: bold;
    font-size: 1.1rem;
    color:#f5a749;
}

.font-article-list dd {
    font-family: galix-mono, sans-serif;
    font-weight: 400;
    margin: .5rem 0 .5rem 1rem;
    background: #272b30;
    outline: 2px #f5a749 solid;
    padding: .75rem;
}

.font-article-list dd:hover {
    outline: 2px #4799d4 solid;
    box-shadow: 0 0 1rem 0 #4799d4;
}

/* END OF TOP PORTION OF FONT TYPES ARTICLE PAGE */

/* START OF BOTTOM PORTION OF FONT TYPES ARTICLE PAGE */

.font-article-body {
    padding: 0 3rem 3rem;
}

.font-body-span {
    display: block;
    margin: 2rem auto;
}

.type-font-list {
    background: #272b30;
    outline: 2px #f5a749 solid;
    margin: auto;
    padding: 2rem;
    list-style: none;
}

.type-font-list strong {
    font-size: 1.1rem;
    color: #f5a749;
}

.type-font-list li {
    outline: 2px #f5a749 solid;
    padding: 1rem;
    margin: 1rem;
}

.type-font-list li:hover {
    outline: 2px #4799d4 solid;
    box-shadow: 0 0 1rem 0 #4799d4;
}

.type-font-list li:hover strong {
    color: #4799d4;
}

.type-font-sublist li {
    outline: none;
    padding: .5rem;
    margin: 0;
}

.type-font-sublist li:hover {
    outline: none;
    box-shadow: none;
}

/* END OF BOTTOM PORTION OF FONT TYPES ARTICLE PAGE */

/* END OF FONT TYPES ARTICLE PAGE */

/* START OF COLOR THEMES PAGE */

#color-themes {
    margin: 0 auto;
}

.ct-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: auto;
    gap: 1rem;
    outline: 3px #f5a749 solid;
    border-radius: 5px;
    padding: 2rem 3rem;
    margin: 3rem auto;
}

.color-theme-header {
    font-size: 2rem;
    color: #f5a749;
    border-bottom: 2px #fff solid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.ct-subhead {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 1rem 0;
}

.ct-table {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 1rem;
}

.ct-table caption {
    font-size: 1.5rem;
    padding: 1rem 0 0;
    background: #272b30;
    border-bottom: 2px #fff solid;
    color: #f5a749;
}

.ct-table tr {
    text-align: center;
}

.ct-table,
.ct-table tr,
.ct-table th,
.ct-table td {
    background: #272b30;
    outline: 2px #f5a749 solid;
}

.color-scheme {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 10% 90%;
    background: #272b30;
    outline: 2px #f5a749 solid;
    text-align: center;
    height: 500px;
    padding: 1rem;
}

.color-scheme:hover {
    outline: 2px #4799d4 solid;
    box-shadow: 0 0 1.5rem .5rem #4799d4;
}

.color-scheme:hover .theme-header{
    color: #4799d4;
}

.theme-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border-bottom: 2px #fff solid;
    font-size: 1.5rem;
    color: #f5a749;
}

.ct-photo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    margin: auto;
}

.theme-description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: auto;
}

.color-scheme#complementary {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.color-scheme#analogous {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.color-scheme#mono {
    grid-column: 2 / 3;
    grid-row: 4 / 5;    
}

.color-scheme#split-comp {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.color-scheme#triadic {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

/* START COMPLEMENTARY THEME */

.complementary-theme td:nth-child(2) {
    background: #004a80;
}

.complementary-theme td:nth-child(3) {
    background: #4799d4;
}

.complementary-theme td:nth-child(4) {
    background: #D68228;
}

/* END COMPLEMENTARY THEME */

/* START TRIADIC THEME */

.triadic-theme td:nth-child(2) {
    background: #4CCCD5;
    color: #D481B6;
}

.triadic-theme td:nth-child(3) {
    background: #D481B6;
    color: #FFE575;
}

.triadic-theme td:nth-child(4) {
    background: #FFE575;
    color: #4CCCD5;
}

/* START MONOCHROMATIC THEME */

.monochromatic-theme td:nth-child(2) {
    background: #e6f2df;
    color: #1a4019;
}

.monochromatic-theme td:nth-child(3) {
    background: #1a4019;
}

.monochromatic-theme td:nth-child(4) {
    background: #b0d897;
    color: #1a4019;
}

/* END MONOCHROMATIC THEME */

/* START SPLIT-COMPLEMENTARY THEME */

.split-theme td:nth-child(2) {
    background: #3866b6;
}

.split-theme td:nth-child(3) {
    background: #F5A749;
}

.split-theme td:nth-child(4) {
    background: #F5D249;
    color: #5E6675;
}

.split-theme td:nth-child(5) {
    background: #5E6675;
}

/* END SPLIT-COMPLEMENTARY THEME */

/* START ANALOGOUS THEME */

.analogous-theme td:nth-child(2) {
    background: #665554;
    color: #e6766e;
}

.analogous-theme td:nth-child(3) {
    background: #e6766e;
    color: #665554;
}

.analogous-theme td:nth-child(4) {
    background: #e68b6e;
    color: #665554;
}

.analogous-theme td:nth-child(5) {
    background: #e66e9a;
}

/* END ANALOGOUS THEME */

/* END OF COLOR THEMES PAGE */