/* START PROJECT SELECTION PAGE */

#projects-content {
    min-width: 100%;
    margin: 2rem auto;
}

a {
    color: white;
}

.photoshop-photo,
.animation-photo {
    height: 300px;
    width: 300px;
    margin: 1.5rem 0;
    border-radius: 20px;
}

.photoshop-content {
    border-bottom: 5px #f5a749 solid;
}

.photoshop-content,
.animation-content {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-auto-rows: auto;
    margin-bottom: 1rem;
}

.photoshop-header,
.animation-header {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: #f5a749 underline;
    margin-top: 2rem;
    font-variant: small-caps;
    letter-spacing: 1px;
}

.photoshop-article,
.animation-article {
    grid-row: 2 / 3;
    text-align: center;
    margin: 1.5rem;
}

.photoshop-article:hover,
.animation-article:hover {
    outline: 5px #f5a749 solid;
    border-radius: 10px;
    box-shadow: 0 0 1rem .25rem #f5a749;
}

.photoshop-article:active,
.animation-article:active {
    outline: 5px #4799d4 solid;
    border-radius: 10px;
    box-shadow: 0 0 1rem .25rem #4799d4;
}

.photoshop-article a:active,
.animation-article a:active {
    text-decoration: none;
}

.article-header {
    font-size: 1.3rem;
    letter-spacing: 1px;
    width: 80%;
    margin: 0 auto 1rem;
    color: #fff;
    border-radius: 10px;
}  

#photo-restore-article,
#character-animate-article
 {
    grid-column: 3 / 4;
}

#digital-magazine-article,
#web-banner-article {
    grid-column: 4 / 5;
}

#branding-package-article,
#infographic-article {
    grid-column: 5 / 6;
}

/* END PROJECT SELECTION PAGE */

/* START OF SHARED RULES ACROSS PROJECT DISPLAY PAGES */

.course-projects {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
}

.project-header {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    border-bottom: 3px #f5a749 solid;
    padding-bottom: 3rem;
}

.project-photos {
    grid-column: 3 / 5;
    grid-row: 1 / 10;
}

.project-tools {
    grid-column: 1 / 2;
    grid-row: 5 / 6;  
}

.project-skills {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.project-tools,
.project-skills {
    grid-row: 5 / 6;
    margin: 0 auto;
}

.project-reflection {
    grid-column: 1 / 3;
    grid-row: 7 / 9;
    padding-top: 3rem;
    border-top: 3px #f5a749 solid;
}

.top-header {
    font-size: 2rem;
    color: #f5a749;
    text-align: center;
    margin-bottom: 2rem;
}

.tools-header,
.skills-header,
.reflection-header {
    color: #f5a749;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center
}

.tools-list,
.skills-list {
    padding: 0;
    list-style-type: circle;
}

/* END OF SHARED RULES ACROSS PROJECT DISPLAY PAGES */

/* START PHOTO RESTORATION PAGE */

.restore-photo-before,
.restore-photo-after {
    max-height: 425px;
    width: auto;
    margin: 0 4rem;
}

.before-photo p,
.after-photo p {
    font-size: 1.3rem;
    text-align: center;
    color: #f5a749
}

/* END PHOTO RESTORATION PAGE */

/* START DIGITAL MAGAZINE PAGE */

.magazine-photo {
    max-height: 800px;
    width: auto;
    margin: 0 4rem;
}

/* END DIGITAL MAGAZINE PAGE */

/* START BRANDING PACKAGE PAGE */

.branding-photos {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: auto;
    gap: 2rem 0;
    margin-left: 3rem;
}

.brand-photo-one,
.brand-photo-two,
.brand-photo-three {
    margin: 0 auto;
}

.brand-photo-two,
.brand-photo-three {
    width: 350px;
    height: 350px;
}

.brand-photo-one {
    max-width: 700px;
    height: auto;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.brand-photo-three {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* END BRANDING PACKAGE PAGE */

/* START CHARACTER ANIMATION PAGE */

.animate-photo {
    position: relative;
    top: 7rem;
    left: 4rem;
}

#animate-tools,
#animate-skills {
    padding: 2rem 0;
}

/* END CHARACTER ANIMATION PAGE */

/* START WEB BANNER PAGE */

.banner-photos {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: auto;
    gap: 2rem 0;
    margin-left: 3rem
}

.banner-photo-one,
.banner-photo-two,
.banner-photo-three {
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.banner-photo-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.banner-photo-two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.banner-photo-three {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

/* END WEB BANNER PAGE */

/* START INFOGRAPHIC PAGE */

.infograph-photo-one {
    width: 750px;
    height: auto;
    position: relative;
    top: 10rem;
    left: 4rem;
}

/* END INFOGRAPHIC PAGE */ 