#projects-content {
    min-width: 100%;
    margin: 2rem auto;
}

a {
    color: white;
}

.photoshop-photo,
.animation-photo {
    height: 300px;
    width: 300px;
    margin: 1.5rem 0;
    border-radius: 20px;
}

.photoshop-content,
.animation-content {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-auto-rows: auto;
    background: #284983;
    margin-bottom: 1rem;
    border-top: 2px #fff solid;
    border-bottom: 2px #fff solid;
}

.photoshop-header {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: wavy #f5d249 underline;
}

.photoshop-article,
.animation-article {
    grid-row: 2 / 3;
    text-align: center;
    margin: 1.5rem;
}

.photoshop-article:hover,
.animation-article:hover {
    outline: 5px white solid;
    border-radius: 10px;
}

.photoshop-article:active,
.animation-article:active {
    outline: 5px #d68228 solid;
    border-radius: 10px;
}

.photoshop-article a:active,
.animation-article a:active {
    text-decoration: none;
}

.article-header {
    font-size: 1.3rem;
    letter-spacing: 1px;
    width: 80%;
    margin: 0 auto 1rem;
    background: #fff;
    color: #284983;
    border-radius: 10px;
}  

#photo-restore-article,
#character-animate-article
 {
    grid-column: 3 / 4;
}

#digital-magazine-article,
#web-banner-article {
    grid-column: 4 / 5;
}

#branding-package-article,
#infographic-article {
    grid-column: 5 / 6;
}

.animation-header {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: wavy #f5d249 underline;
}