/* START BASIC CONTENT */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: basic-sans, helvetica-lt-pro, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    background: #5e6675;
    color: #f5f5f5;
}

.container {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

main {
    max-width: 80%;
    margin: 0 auto;
    flex: 1;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:active {
    color: #f5a749;
    text-decoration: underline;
    text-decoration-color: #f5a749;
}

h1 a:hover {
    color: #284983;
}

h1 a:active {
    color: #f5a749;
    text-decoration: none;
}

p {
    margin: 0.3rem auto;
}

a[href^='mailto'] {
    color: #ffffff;
}

a[href^='mailto']:active {
    color: #f5a749;
    text-decoration: none;
}

/* END BASIC CONTENT */

/* START NAVIGATION BAR */

#nav-bar {
    position: absolute;
    top: 5rem;
    margin: 0 -0.5rem;
}

#nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
}

#nav-bar a {
    display: block;
    padding: 1rem;
}

#nav-bar li:hover{
    background-color: #f5a749;
    text-decoration: underline;
}


#nav-bar a:active {
    text-decoration: underline;
    text-decoration-color: #284983;
}

.nav-list-item > ul {
    display: none; 
    position: absolute;
}

#photoshop-li > ul,
#animate-li > ul, 
#color-li > ul,
#type-li > ul {
    left: 8.2rem;
}

.nav-list-item {
    text-align: center;
}

#portfolio-li > ul {
    top: 4.2rem;
    left: 6.6rem;
}

#photoshop-li > ul {
    top: 0;
}

#animate-li > ul {
    top: 6.3rem;
}

#color-li > ul {
    top: 12.6rem;
}

#type-li > ul {
    top: 19rem;
}

.nav-list-item:hover > ul {
    display: block;
}
/* END NAVIGATION BAR */

/* START FOOTER SECTION */

footer {
    background: #284983;
    width: 100%;
}

footer address {
    text-align: center;
    word-spacing: 2rem;
}

footer address a img {
    padding-top: 10px;
}

/* END FOOTER SECTION */